In [3]:
#Array processing
import numpy as np

#Data analysis, wrangling and common exploratory operations
import pandas as pd
from pandas import Series, DataFrame
from IPython.display import display

#For visualization. Matplotlib for basic viz and seaborn for more stylish figures + statistical figures not in MPL.
import matplotlib.pyplot as plt
import seaborn as sns

import scipy as sp
#SVD for Sparse matrices
from scipy.sparse.linalg import svds

from sklearn.metrics.pairwise import euclidean_distances

from collections import defaultdict, Counter
import operator

from matplotlib import rcParams
rcParams['figure.figsize'] = (10, 6)

In [10]:
#Load the user data
users_df = pd.read_csv('ml-100k/u.user', sep='|', names=['UserId', 'Age', 'Gender', 'Occupation', 'ZipCode'])
#Load the movies data: we will only use movie id and title for this assignment
movies_df = pd.read_csv('ml-100k/u.item', sep='|', names=['MovieId', 'Title'], usecols=range(2))

#Load the ratings data: ignore the timestamps
ratings_df = pd.read_csv('ml-100k/u.data', sep='\t', names=['UserId', 'MovieId', 'Rating'],usecols=range(3))

movie_ratings_df = pd.merge(movies_df, ratings_df)
movielens_df = pd.merge(movie_ratings_df, users_df)
movielens_df.head()

,MovieId,Title,UserId,Rating,Age,Gender,Occupation,ZipCode
0,1,Toy Story (1995),308,4,60,M,retired,95076
1,4,Get Shorty (1995),308,5,60,M,retired,95076
2,5,Copycat (1995),308,4,60,M,retired,95076
3,7,Twelve Monkeys (1995),308,4,60,M,retired,95076
4,8,Babe (1995),308,5,60,M,retired,95076

In [34]:
#Exploratory Analysis
#Task t1a: Print the NAME of the top-10 movies with most ratings
print movielens_df.groupby('Title').size().order(ascending=False)[:10]

Title
Star Wars (1977)                 583
Contact (1997)                   509
Fargo (1996)                     508
Return of the Jedi (1983)        507
Liar Liar (1997)                 485
English Patient, The (1996)      481
Scream (1996)                    478
Toy Story (1995)                 452
Air Force One (1997)             431
Independence Day (ID4) (1996)    429
dtype: int64

In [22]:
#Task t1b: Let us now analyze the rating behavior of the 1000 users in the dataset
#  Create a histogram based on the number of ratings per user with 50 bins. 
# Title="Count of Ratings per User", XLabel="Ratings per user", YLabel="#Users"

#t1b_user_rating_count is a groupby object that counts the number of ratings for each user.
t1b_user_rating_count = movielens_df.groupby('UserId')['Rating'].count()
#print t1b_user_rating_count
t1b_user_rating_count.hist(bins=50)
plt.xlabel("Ratings per user")
plt.ylabel("#Users")
plt.title("Count of Ratings per User")

####The figure below shows that most users leave less than 25 ratings while few outliers leave a lot of ratings

UserId
1      272
2       62
3       54
4       24
5      175
6      211
7      403
8       59
9       22
10     184
11     181
12      51
13     636
14      98
15     104
16     140
17      28
18     277
19      20
20      48
21     179
22     128
23     151
24      68
25      78
26     107
27      25
28      79
29      34
30      43
      ...
914     23
915     26
916    317
917     35
918    103
919    217
920     26
921    110
922    127
923     74
924     82
925     32
926     20
927    120
928     32
929     49
930     63
931     61
932    241
933    184
934    174
935     39
936    142
937     40
938    108
939     49
940    107
941     22
942     79
943    168
Name: Rating, dtype: int64

In [24]:
#Task t1c: Let us now analyze the rating behavior of the 1000 users in the dataset
#  Create a histogram based on the number of ratings per movie with 50 bins. 
# Title="Count of Ratings per Movie", XLabel="Ratings per Movie", YLabel="#Movies"

#t1c_user_rating_count is a groupby object that counts the number of ratings for each movie.
t1c_user_rating_count = movielens_df.groupby('MovieId')['Rating'].count()
#print t1c_user_rating_count
t1c_user_rating_count.hist(bins=50)
plt.xlabel("Ratings per Movie")
plt.ylabel("#Movies")
plt.title("Count of Ratings per Movie")

####The figure below shows that most movies receive less than 25 ratings while few popular get a lot of ratings

MovieId
1       452
2       131
3        90
4       209
5        86
6        26
7       392
8       219
9       299
10       89
11      236
12      267
13      184
14      183
15      293
16       39
17       92
18       10
19       69
20       72
21       84
22      297
23      182
24      174
25      293
26       73
27       57
28      276
29      114
30       37
       ...
1653      1
1654      1
1655      1
1656      2
1657      1
1658      3
1659      1
1660      1
1661      1
1662      2
1663      1
1664      4
1665      1
1666      1
1667      1
1668      1
1669      1
1670      1
1671      1
1672      2
1673      1
1674      1
1675      1
1676      1
1677      1
1678      1
1679      1
1680      1
1681      1
1682      1
Name: Rating, dtype: int64

In [26]:
#Task t1d: Let us now analyze the rating distribution
#  Create a histogram based on the ratings received for each movie with 5 bins. 
# Title="Ratings Histogram", XLabel="Rating Provided", YLabel="#Ratings"

movielens_df['Rating'].hist(bins=5)
plt.xlabel("Rating Provided")
plt.ylabel("#Ratings")
plt.title("Ratings Histogram")

####The figure below shows that most movies at least 35K of ratings provided a score of 4 or higher.
#The code below shows that the average rating is 3.5
# This is problematic because each user has a different rating scale
# For some users 1 is a bad movie while for some others 3 is bad
# So a good model must take into the account the baseline rating behavior of users and movies

print "Average rating of ALL movies is", round(movie_ratings_df['Rating'].mean(), 2)

Average rating of ALL movies is 3.53

In [31]:
#Task t1e: Let us now study the baseline rating behavior in more detail
# For each user compute his/her average rating
#  Create a histogram based on the average ratings with 5 bins. 
# Title="Histogram of Average Ratings of Users", XLabel="Average Rating", YLabel="#Users"

#t1e_avg_ratings is a groupby object with average rating for each user
t1e_avg_ratings = movielens_df.groupby('UserId')['Rating'].mean()
print t1e_avg_ratings

t1e_avg_ratings.hist(bins=5)
plt.title("Histogram of Average Ratings of Users")
plt.xlabel("Average Rating")
plt.ylabel("#Users")


####The figure below shows that while the average rating of users vary
# What does this imply?

UserId
1      3.610294
2      3.709677
3      2.796296
4      4.333333
5      2.874286
6      3.635071
7      3.965261
8      3.796610
9      4.272727
10     4.206522
11     3.464088
12     4.392157
13     3.097484
14     4.091837
15     2.875000
16     4.328571
17     3.035714
18     3.880866
19     3.550000
20     3.104167
21     2.670391
22     3.351562
23     3.635762
24     4.323529
25     4.051282
26     2.943925
27     3.240000
28     3.721519
29     3.647059
30     3.767442
         ...
914    3.086957
915    3.115385
916    3.365931
917    3.542857
918    3.349515
919    3.470046
920    3.230769
921    3.272727
922    3.370079
923    4.148649
924    3.756098
925    3.125000
926    3.300000
927    3.691667
928    4.687500
929    3.693878
930    2.968254
931    3.721311
932    3.966805
933    2.646739
934    3.701149
935    3.923077
936    3.746479
937    3.375000
938    3.268519
939    4.265306
940    3.457944
941    4.045455
942    4.265823
943    3.410714
Name: Rating, dtype: float64

In [32]:
#Task t1f: Let us now study the baseline rating behavior in more detail
# For each movie compute its average rating
#  Create a histogram based on the average ratings with 5 bins. 
# Title="Histogram of Average Ratings of Movies", XLabel="Average Rating", YLabel="#Movies"

#t1e_avg_ratings is a groupby object with average rating for each user
t1f_avg_ratings = movielens_df.groupby('MovieId')['Rating'].mean()
#print t1f_avg_ratings

t1f_avg_ratings.hist(bins=5)
plt.title("Histogram of Average Ratings of Movies")
plt.xlabel("Average Rating")
plt.ylabel("#Movies")


####The figure below shows that while the average rating of movies vary
# What does this imply?

MovieId
1       3.878319
2       3.206107
3       3.033333
4       3.550239
5       3.302326
6       3.576923
7       3.798469
8       3.995434
9       3.896321
10      3.831461
11      3.847458
12      4.385768
13      3.418478
14      3.967213
15      3.778157
16      3.205128
17      3.119565
18      2.800000
19      3.956522
20      3.416667
21      2.761905
22      4.151515
23      4.120879
24      3.448276
25      3.443686
26      3.452055
27      3.105263
28      3.931159
29      2.666667
30      3.945946
          ...
1653    5.000000
1654    1.000000
1655    2.000000
1656    3.500000
1657    3.000000
1658    3.000000
1659    1.000000
1660    2.000000
1661    1.000000
1662    2.500000
1663    2.000000
1664    3.250000
1665    2.000000
1666    2.000000
1667    3.000000
1668    3.000000
1669    2.000000
1670    3.000000
1671    1.000000
1672    2.000000
1673    3.000000
1674    4.000000
1675    3.000000
1676    2.000000
1677    3.000000
1678    1.000000
1679    3.000000
1680    2.000000
1681    3.000000
1682    3.000000
Name: Rating, dtype: float64

In [ ]:
#Task t1g: Let us now analyze the common support for movielens dataset
# Here is the high level idea
# We are going to create an array and populate it with the common support for all pair of movies
# We then are going to plot a histogram and see its distribution.

#This task might take quite some time - 1-2 hours for typical machines !

t1g_all_movies=movies_df['MovieId'].unique()
t1g_allpair_commonsupport=[]
'''
for i, movie1 in enumerate(t1g_all_movies):
    for j,movie2 in enumerate(t1g_all_movies):
        if(i<j):
            userids_who_rated_movie1=movies_df(movies_df.MovieId==movie1).UserId.unique()
            userids_who_rated_movie2=movies_df(movies_df.MovieId==movie2).UserId.unique()
            num_common_users=len(set(user_ids_who_rated_movie1).intersection(userids_who_rated_movie2))
            t1g_allpair_commonsupport.append(num_common_users)
            
print "Average common support is ", round(np.mean(t1g_allpair_commonsupport), 2)
plt.hist(t1g_allpair_commonsupport)

'''

In [ ]:
#Task t1h: Let us now consider how sparse the matrix is
t1h_sparsity = 100000./(1682*943)
print "Sparsity of the dataset is ", t1h_sparsity

#This graph is actually less sparse than typical datasets for recommender systems
# which often have a sparsity much lower than 1%
# As discussed in the class, the sparsity imposes huge problem in terms of designing efficient and correct algorithms

In [ ]:
#Task t1i: Compute the average rating for each movie grouped by gender
#  In other words, for each movie, compute the average rating given by men and women
# Hint: use a pivot table

t1i_movielens_mean_ratings = movielens_df.pivot_table('Rating', index ='Title', columns='Gender',aggfunc='mean')
display(t1i_movielens_mean_ratings[:10])

In [36]:
#Nearest Neighbour based Recommender System
#Task t2a: 
# Create a dictionary where key is Movie Name and value is id
#       You can either use the movies_df or read and parse the u.item file yourself
movie_name_to_id_dictionary = {}

#Write code to populate the movie names to this array
all_movie_names = []

f = open("ml-100k/u.item", "r")
lines = f.readlines()
for line in lines:
    data = line.split("|")
    movie_name, movie_id = data[1], int(data[0])
    movie_name_to_id_dictionary[movie_name] = movie_id
    all_movie_names.append(movie_name)
f.close()

#print movie_name_to_id_dictionary
#print all_movie_names

{'Adventures of Pinocchio, The (1996)': 1060, 'To Cross the Rubicon (1991)': 1564, 'Birdcage, The (1996)': 25, 'B. Monkey (1998)': 1679, 'Little Big League (1994)': 1032, 'Magnificent Seven, The (1954)': 510, 'Chairman of the Board (1998)': 1654, 'Mortal Kombat (1995)': 541, 'Tin Men (1987)': 712, 'Endless Summer 2, The (1994)': 1184, 'Village of the Damned (1995)': 565, 'Cat on a Hot Tin Roof (1958)': 499, 'SubUrbia (1997)': 1428, 'Air Bud (1997)': 261, 'Johnny 100 Pesos (1993)': 1365, 'Bye Bye, Love (1995)': 1446, 'Men With Guns (1997)': 1646, 'Beautiful Thing (1996)': 1137, '2 Days in the Valley (1996)': 1011, 'Jerky Boys, The (1994)': 1484, 'Close Shave, A (1995)': 408, 'Amadeus (1984)': 191, 'Critical Care (1997)': 341, 'Clockwork Orange, A (1971)': 179, 'Country Life (1994)': 1290, 'Boys in Venice (1996)': 1359, 'Wings of Courage (1995)': 1515, 'Fifth Element, The (1997)': 250, 'Heaven & Earth (1993)': 803, 'Tombstone (1993)': 470, 'Lawnmower Man 2: Beyond Cyberspace (1996)': 758, 'Howling, The (1981)': 637, 'Mouse Hunt (1997)': 539, 'Of Human Bondage (1934)': 1397, 'Queen Margot (Reine Margot, La) (1994)': 730, 'Scream of Stone (Schrei aus Stein) (1991)': 1682, 'Before the Rain (Pred dozhdot) (1994)': 1193, 'Fish Called Wanda, A (1988)': 153, 'Deep Rising (1998)': 353, 'Full Monty, The (1997)': 269, 'Ready to Wear (Pret-A-Porter) (1994)': 1230, 'Conspiracy Theory (1997)': 328, 'Man Who Knew Too Little, The (1997)': 342, 'Jefferson in Paris (1995)': 1530, "Star Maker, The (Uomo delle stelle, L') (1995)": 1068, 'Angel on My Shoulder (1946)': 1453, 'Thousand Acres, A (1997)': 937, 'Lion King, The (1994)': 71, 'Lotto Land (1995)': 1343, 'Saint, The (1997)': 748, 'One Fine Day (1996)': 815, 'Whole Wide World, The (1996)': 867, "Wend Kuuni (God's Gift) (1982)": 1572, 'Quartier Mozart (1992)': 1570, 'Truth About Cats & Dogs, The (1996)': 111, 'Fly Away Home (1996)': 500, 'Absolute Power (1997)': 291, 'Carried Away (1996)': 1085, 'Careful (1992)': 1567, 'Tie Me Up! Tie Me Down! (1990)': 1018, 'Mallrats (1995)': 721, 'Two Deaths (1995)': 1338, 'Sprung (1997)': 1513, 'Mrs. Parker and the Vicious Circle (1994)': 1113, 'Independence Day (ID4) (1996)': 121, 'Last Supper, The (1995)': 741, 'Cry, the Beloved Country (1995)': 459, '8 Seconds (1994)': 1443, 'Miracle on 34th Street (1994)': 378, 'Wild Things (1998)': 914, 'Stealing Beauty (1996)': 1009, 'Heavy (1995)': 594, 'Super Mario Bros. (1993)': 398, 'Tokyo Fist (1995)': 1613, 'Boys of St. Vincent, The (1993)': 1192, 'Mask, The (1994)': 72, 'American in Paris, An (1951)': 602, 'Catwalk (1995)': 1318, 'Innocents, The (1961)': 1125, 'No Escape (1994)': 1416, 'Eye for an Eye (1996)': 974, 'James and the Giant Peach (1996)': 473, 'Beverly Hillbillies, The (1993)': 1030, 'Alaska (1996)': 828, 'Hoodlum (1997)': 299, 'Desperado (1995)': 33, 'Alice in Wonderland (1951)': 420, 'Milk Money (1994)': 783, 'Head Above Water (1996)': 992, 'Flubber (1997)': 892, 'M. Butterfly (1993)': 1401, 'Oliver & Company (1988)': 1078, "Preacher's Wife, The (1996)": 934, 'Fresh (1994)': 1169, 'Friday (1995)': 1218, 'Aparajito (1956)': 1558, 'Babe (1995)': 8, 'Lady of Burlesque (1943)': 1452, 'Beverly Hills Ninja (1997)': 456, 'War Room, The (1993)': 1141, 'Kama Sutra: A Tale of Love (1996)': 532, 'Forrest Gump (1994)': 69, 'Giant (1956)': 614, 'Lawnmower Man, The (1992)': 145, 'Diabolique (1996)': 106, 'Philadelphia Story, The (1940)': 478, "Lover's Knot (1996)": 1351, 'Grosse Pointe Blank (1997)': 248, 'Wizard of Oz, The (1939)': 132, 'Boomerang (1992)': 765, 'Harlem (1993)': 1410, 'Legal Deceit (1997)': 1431, 'Once Upon a Time in the West (1969)': 646, 'Raw Deal (1948)': 1476, 'Touki Bouki (Journey of the Hyena) (1973)': 1571, 'Smile Like Yours, A (1997)': 938, 'Butch Cassidy and the Sundance Kid (1969)': 435, 'Harold and Maude (1971)': 428, 'Calendar Girl (1993)': 1146, 'Stripes (1981)': 1301, 'Red Firecracker, Green Firecracker (1994)': 1099, 'Apple Dumpling Gang, The (1975)': 415, 'Dave (1993)': 732, 'Before and After (1996)': 1284, "McHale's Navy (1997)": 687, 'They Made Me a Criminal (1939)': 1122, 'August (1996)': 1325, 'Moll Flanders (1996)': 107, 'Daylight (1996)': 827, 'Bonheur, Le (1965)': 1382, 'Eighth Day, The (1996)': 1640, 'Leave It to Beaver (1997)': 688, 'Best of the Best 3: No Turning Back (1995)': 1250, 'Glengarry Glen Ross (1992)': 160, "White Man's Burden (1995)": 555, 'Grease 2 (1982)': 1037, 'For Richer or Poorer (1997)': 893, 'Temptress Moon (Feng Yue) (1996)': 1652, 'Flower of My Secret, The (Flor de mi secreto, La) (1995)': 927, 'Mrs. Winterbourne (1996)': 821, 'Little Princess, A (1995)': 1063, 'Murder in the First (1995)': 939, 'Nina Takes a Lover (1994)': 1474, 'Eddie (1996)': 819, "Stephen King's The Langoliers (1995)": 563, 'Passion Fish (1992)': 972, 'Empire Strikes Back, The (1980)': 172, 'Ran (1985)': 647, 'Devil in a Blue Dress (1995)': 770, 'Four Days in September (1997)': 1062, 'Bio-Dome (1996)': 368, 'Assassins (1995)': 1217, 'Relic, The (1997)': 1157, 'Coldblooded (1995)': 1414, 'Bronx Tale, A (1993)': 467, 'Shadowlands (1993)': 736, 'Rough Magic (1995)': 1662, 'Blown Away (1994)': 572, 'Doors, The (1991)': 1135, 'Audrey Rose (1977)': 667, 'Scout, The (1994)': 1224, 'Gandhi (1982)': 527, 'Rebecca (1940)': 607, 'Jean de Florette (1986)': 165, 'Hana-bi (1997)': 1647, 'Trainspotting (1996)': 475, 'Gattaca (1997)': 270, 'Batman Forever (1995)': 29, "Miller's Crossing (1990)": 518, 'Professional, The (1994)': 55, 'Local Hero (1983)': 516, 'Fluke (1995)': 726, 'Kundun (1997)': 900, 'My Crazy Life (Mi vida loca) (1993)': 1421, 'City of Angels (1998)': 918, 'Paradise Road (1997)': 935, "Marvin's Room (1996)": 287, 'Cutthroat Island (1995)': 1239, 'Sleepers (1996)': 628, 'Air Force One (1997)': 300, "Pharaoh's Army (1995)": 1574, 'Everyone Says I Love You (1996)': 319, 'Gate of Heavenly Peace, The (1995)': 1482, 'Vertigo (1958)': 479, 'Somewhere in Time (1980)': 662, 'Poetic Justice (1993)': 807, 'Glimmer Man, The (1996)': 841, 'Hoop Dreams (1994)': 48, 'Boys on the Side (1995)': 723, 'Thinner (1996)': 406, 'Something to Talk About (1995)': 775, 'Long Kiss Goodnight, The (1996)': 147, 'L.A. Confidential (1997)': 302, 'Silence of the Lambs, The (1991)': 98, 'Hush (1998)': 1624, 'Chasing Amy (1997)': 268, 'Oscar & Lucinda (1997)': 906, 'Angus (1995)': 1225, 'Tango Lesson, The (1997)': 889, 'Century (1993)': 1447, 'Chinatown (1974)': 654, 'Back to the Future (1985)': 204, 'Nothing Personal (1995)': 1663, 'Enchanted April (1991)': 707, 'Swan Princess, The (1994)': 1409, 'Woman in Question, The (1950)': 1581, 'Nightwatch (1997)': 1625, "One Flew Over the Cuckoo's Nest (1975)": 357, 'Top Hat (1935)': 1203, "City Slickers II: The Legend of Curly's Gold (1994)": 575, 'Phenomenon (1996)': 125, 'My Favorite Year (1982)': 414, 'Secret Garden, The (1993)': 584, 'Goofy Movie, A (1995)': 1219, 'S.F.W. (1994)': 1481, 'Sting, The (1973)': 194, 'Rumble in the Bronx (1995)': 24, 'Burnt By the Sun (1994)': 753, 'Blue in the Face (1995)': 952, 'Crying Game, The (1992)': 631, 'Leaving Las Vegas (1995)': 276, 'Mad Love (1995)': 36, 'Relative Fear (1994)': 788, "Blood For Dracula (Andy Warhol's Dracula) (1974)": 666, 'Emma (1996)': 283, 'G.I. Jane (1997)': 326, 'Man of the Year (1995)': 766, 'Lord of Illusions (1995)': 551, 'Star Trek: Generations (1994)': 380, 'Anaconda (1997)': 1013, 'Johns (1996)': 1543, 'Feast of July (1995)': 1108, 'Silence of the Palace, The (Saimt el Qusur) (1994)': 1630, 'Pest, The (1997)': 1002, 'Quick and the Dead, The (1995)': 562, 'Kiss of Death (1995)': 1208, 'Sense and Sensibility (1995)': 275, 'Young Frankenstein (1974)': 208, 'All Over Me (1997)': 1538, 'Arsenic and Old Lace (1944)': 659, 'Dangerous Beauty (1998)': 909, 'Hunted, The (1995)': 1552, 'Murder, My Sweet (1944)': 848, 'Die Hard 2 (1990)': 226, 'Night on Earth (1991)': 856, 'Mad City (1997)': 339, 'Total Eclipse (1995)': 1260, 'Alien 3 (1992)': 665, 'Aladdin (1992)': 95, 'Wonderland (1997)': 360, 'Citizen Kane (1941)': 134, 'Marked for Death (1990)': 1231, 'Kissed (1996)': 1216, 'English Patient, The (1996)': 286, 'Bad Boys (1995)': 27, 'Jaws 2 (1978)': 452, 'Portrait of a Lady, The (1996)': 1163, 'Patton (1970)': 205, 'Celtic Pride (1996)': 1291, 'One Night Stand (1997)': 888, 'Family Thing, A (1996)': 1197, 'Aristocats, The (1970)': 102, 'Pushing Hands (1992)': 957, 'Lay of the Land, The (1997)': 1026, 'Two or Three Things I Know About Her (1966)': 851, 'In & Out (1997)': 301, 'Body Snatcher, The (1945)': 445, 'Supercop (1992)': 128, 'Stand by Me (1986)': 655, 'Little Odessa (1994)': 782, 'Heavy Metal (1981)': 101, 'Cop Land (1997)': 327, 'Bushwhacked (1995)': 1246, 'Homeward Bound: The Incredible Journey (1993)': 140, 'Bob Roberts (1992)': 425, 'Othello (1995)': 713, 'Simple Twist of Fate, A (1994)': 1055, 'Unbearable Lightness of Being, The (1988)': 212, 'Four Rooms (1995)': 3, 'Pallbearer, The (1996)': 1057, 'Faithful (1996)': 1114, 'Shawshank Redemption, The (1994)': 64, 'Junior (1994)': 728, '12 Angry Men (1957)': 178, 'Little Lord Fauntleroy (1936)': 967, "Mat' i syn (1997)": 1678, "Ulee's Gold (1997)": 303, 'Mostro, Il (1994)': 1494, 'Cemetery Man (Dellamorte Dellamore) (1994)': 1199, 'Mr. Wrong (1996)': 1054, 'Cool Runnings (1993)': 1035, 'Jeffrey (1995)': 372, 'Three Colors: Red (1994)': 59, 'Timecop (1994)': 797, 'Rob Roy (1995)': 549, 'Next Karate Kid, The (1994)': 1415, 'Blink (1994)': 1248, 'Farewell My Concubine (1993)': 921, 'Fools Rush In (1997)': 869, 'Bliss (1997)': 1173, 'My Man Godfrey (1936)': 613, 'Unforgiven (1992)': 203, 'Ace Ventura: When Nature Calls (1995)': 364, 'Fantasia (1940)': 432, 'Sixth Man, The (1997)': 1620, 'Condition Red (1995)': 1556, 'Seventh Seal, The (Sjunde inseglet, Det) (1957)': 650, "Weekend at Bernie's (1989)": 158, 'Love Is All There Is (1996)': 1457, 'Wonderful, Horrible Life of Leni Riefenstahl, The (1993)': 701, 'Dracula: Dead and Loving It (1995)': 1052, 'Wings of Desire (1987)': 512, 'How to Make an American Quilt (1995)': 949, 'Candyman (1992)': 672, 'Bad Company (1995)': 798, 'Speechless (1994)': 796, 'Courage Under Fire (1996)': 471, 'Twelfth Night (1996)': 1115, 'Heat (1995)': 273, 'Terminator 2: Judgment Day (1991)': 96, "What's Eating Gilbert Grape (1993)": 65, 'Go Fish (1994)': 733, 'Mighty, The (1998)': 1432, 'Buddy (1997)': 1608, "'Til There Was You (1997)": 1300, 'Stag (1997)': 1393, 'Paris, Texas (1984)': 664, 'Hurricane Streets (1998)': 1607, 'Diva (1981)': 855, 'Sweet Hereafter, The (1997)': 896, 'Search for One-eye Jimmy, The (1996)': 1361, 'Starship Troopers (1997)': 271, 'Trial by Jury (1994)': 1522, 'Meet Wally Sparks (1997)': 1376, 'Tin Cup (1996)': 284, 'Cat People (1982)': 674, 'Boys (1996)': 1326, 'Pie in the Sky (1995)': 1259, 'Drop Zone (1994)': 779, 'Bottle Rocket (1996)': 1067, 'I, Worst of All (Yo, la peor de todas) (1990)': 1575, 'Afterglow (1997)': 903, 'Crooklyn (1994)': 793, 'Big Bang Theory, The (1994)': 1235, 'Foreign Student (1994)': 1532, 'Rock, The (1996)': 117, 'Inventing the Abbotts (1997)': 1315, 'Forbidden Planet (1956)': 434, 'High Noon (1952)': 661, 'Affair to Remember, An (1957)': 966, 'So I Married an Axe Murderer (1993)': 90, 'Suture (1993)': 1422, 'In the Bleak Midwinter (1995)': 718, 'Natural Born Killers (1994)': 53, 'Other Voices, Other Rooms (1997)': 1236, 'Pollyanna (1960)': 842, 'When We Were Kings (1996)': 1142, 'Herbie Rides Again (1974)': 1480, 'Crow, The (1994)': 68, 'Women, The (1939)': 1172, 'Brazil (1985)': 175, 'Program, The (1993)': 808, "Monty Python's Life of Brian (1979)": 154, 'Anna (1996)': 1398, 'Hear My Song (1991)': 970, 'Cement Garden, The (1993)': 1375, 'MURDER and murder (1996)': 1669, 'Underneath, The (1995)': 1553, "Gridlock'd (1997)": 1245, 'Two Much (1996)': 1102, 'Washington Square (1997)': 882, 'Babyfever (1994)': 1308, 'Walkabout (1971)': 1149, "What's Love Got to Do with It (1993)": 942, 'Second Jungle Book: Mowgli & Baloo, The (1997)': 1383, 'Strawberry and Chocolate (Fresa y chocolate) (1993)': 1195, 'Virtuosity (1995)': 1210, 'Schizopolis (1996)': 1589, 'Day the Sun Turned Cold, The (Tianguo niezi) (1994)': 1345, 'Trial and Error (1997)': 1258, 'Manon of the Spring (Manon des sources) (1986)': 166, 'Horse Whisperer, The (1998)': 1316, 'Bent (1997)': 891, 'Barbarella (1968)': 1411, 'Big Night (1996)': 137, 'Trees Lounge (1996)': 1017, 'Nutty Professor, The (1996)': 411, 'Associate, The (1996)': 1051, 'Malice (1993)': 1046, 'Naked (1993)': 960, 'Glory (1989)': 651, 'Pretty Woman (1990)': 739, 'Wag the Dog (1997)': 347, "Sophie's Choice (1982)": 632, 'Paris, France (1993)': 1622, 'Unzipped (1995)': 954, 'On Golden Pond (1981)': 162, 'Hellraiser: Bloodline (1996)': 590, 'Around the World in 80 Days (1956)': 495, 'Amityville: Dollhouse (1996)': 858, 'Metro (1997)': 1244, 'Female Perversions (1996)': 1082, 'Jade (1995)': 1207, 'Rocket Man (1997)': 683, 'Shadow, The (1994)': 810, 'Congo (1995)': 769, 'Blood & Wine (1997)': 985, 'Cowboy Way, The (1994)': 1183, 'Reservoir Dogs (1992)': 156, 'Manny & Lo (1996)': 1281, '8 Heads in a Duffel Bag (1997)': 1664, 'Cabin Boy (1994)': 998, 'Farewell to Arms, A (1932)': 1124, "Don't Be a Menace to South Central While Drinking Your Juice in the Hood (1996)": 1059, 'I.Q. (1994)': 49, "Ed's Next Move (1996)": 1356, 'Collectionneuse, La (1967)': 1578, 'Awfully Big Adventure, An (1995)': 1227, 'Tomorrow Never Dies (1997)': 751, 'I Know What You Did Last Summer (1997)': 682, 'Switchback (1997)': 1038, 'Down Periscope (1996)': 926, 'Fear (1996)': 975, 'Amityville Horror, The (1979)': 441, 'Keys to Tulsa (1997)': 991, 'Grand Day Out, A (1992)': 189, 'Night Flier (1997)': 1243, 'Bean (1997)': 338, 'Fair Game (1995)': 759, 'Showgirls (1995)': 375, 'Truman Show, The (1998)': 1127, "Someone Else's America (1995)": 1599, 'Nadja (1994)': 37, 'Star Wars (1977)': 50, 'Apostle, The (1997)': 344, 'Higher Learning (1995)': 1220, 'Turbulence (1997)': 986, 'If Lucy Fell (1996)': 764, 'Trigger Effect, The (1996)': 979, 'Jude (1996)': 149, 'Old Man and the Sea, The (1958)': 1126, "Schindler's List (1993)": 318, 'Flirt (1995)': 1495, 'Great Race, The (1965)': 630, 'Multiplicity (1996)': 1047, 'U.S. Marshalls (1998)': 912, 'Open Season (1996)': 1321, 'Donnie Brasco (1997)': 293, 'Lost World: Jurassic Park, The (1997)': 252, 'North (1994)': 1271, 'Mrs. Brown (Her Majesty, Mrs. Brown) (1997)': 306, 'Albino Alligator (1996)': 1083, 'My Family (1995)': 1147, 'Fan, The (1996)': 595, 'Wife, The (1995)': 1627, 'Evita (1996)': 289, 'Beautician and the Beast, The (1997)': 988, 'So Dear to My Heart (1949)': 626, "Gilligan's Island: The Movie (1998)": 1420, 'Indian Summer (1996)': 1296, 'Wild Reeds (1994)': 1171, 'Losing Chase (1996)': 1381, 'Man of No Importance, A (1994)': 1075, 'Sword in the Stone, The (1963)': 625, 'Tales from the Hood (1995)': 564, 'Star Trek: The Motion Picture (1979)': 449, 'Children of the Corn: The Gathering (1996)': 424, 'Braindead (1992)': 853, 'Breakdown (1997)': 295, 'Grateful Dead (1995)': 973, 'Destiny Turns on the Radio (1995)': 1550, 'Sneakers (1992)': 239, 'Willy Wonka and the Chocolate Factory (1971)': 151, "Mary Shelley's Frankenstein (1994)": 561, 'Switchblade Sisters (1975)': 1187, 'Powder (1995)': 365, 'Lightning Jack (1994)': 1000, 'Mad Dog Time (1996)': 1510, 'Species (1995)': 552, 'Die Hard (1988)': 144, 'Now and Then (1995)': 1053, 'Ruby in Paradise (1993)': 962, 'Little Buddha (1993)': 1168, 'Chungking Express (1994)': 1129, 'Raising Arizona (1987)': 238, 'Three Lives and Only One Death (1996)': 1507, 'Deer Hunter, The (1978)': 521, 'Two if by Sea (1996)': 1040, 'Mediterraneo (1991)': 971, 'Very Brady Sequel, A (1996)': 412, 'Letter From Death Row, A (1998)': 1191, 'Jungle2Jungle (1997)': 243, 'Band Wagon, The (1953)': 1298, 'Beauty and the Beast (1991)': 588, 'Father of the Bride Part II (1995)': 756, '2001: A Space Odyssey (1968)': 135, 'Return of the Jedi (1983)': 181, "Some Mother's Son (1996)": 1642, 'Grace of My Heart (1996)': 1426, 'Boxing Helena (1993)': 574, 'Last Time I Committed Suicide, The (1997)': 994, 'When Harry Met Sally... (1989)': 216, 'Chamber, The (1996)': 620, 'Perfect Candidate, A (1996)': 850, 'Gigi (1958)': 610, 'Cliffhanger (1993)': 576, 'Intimate Relations (1996)': 1611, 'Conan the Barbarian (1981)': 679, 'Raise the Red Lantern (1991)': 923, "Nobody's Fool (1994)": 956, 'Niagara, Niagara (1997)': 1648, 'Carmen Miranda: Bananas Is My Business (1994)': 1307, 'Hot Shots! Part Deux (1993)': 80, 'Muppet Treasure Island (1996)': 21, 'Party Girl (1995)': 1071, 'Grifters, The (1990)': 642, 'Scarlet Letter, The (1926)': 1542, 'FairyTale: A True Story (1997)': 308, 'Amos & Andrew (1993)': 1206, 'Dazed and Confused (1993)': 959, 'Bogus (1996)': 832, 'Babysitter, The (1995)': 1508, 'Pink Floyd - The Wall (1982)': 214, 'Striptease (1996)': 120, 'Stalingrad (1993)': 593, 'Shopping (1994)': 1595, 'Infinity (1996)': 1355, 'Etz Hadomim Tafus (Under the Domin Tree) (1994)': 1634, 'To Be or Not to Be (1942)': 1204, 'Horseman on the Roof, The (Hussard sur le toit, Le) (1995)': 113, 'Swiss Family Robinson (1960)': 622, "Widows' Peak (1994)": 703, 'Booty Call (1997)': 948, 'Fausto (1993)': 1490, 'Candyman: Farewell to the Flesh (1995)': 816, 'Trust (1990)': 1103, 'Only You (1994)': 785, 'Last Klezmer: Leopold Kozlowski, His Life and Music, The (1995)': 1331, 'Disclosure (1994)': 43, 'Under Siege 2: Dark Territory (1995)': 1228, 'Firm, The (1993)': 77, 'Ciao, Professore! (1993)': 1402, 'Batman & Robin (1997)': 254, 'Butcher Boy, The (1998)': 1650, 'Beat the Devil (1954)': 1456, 'House of the Spirits, The (1993)': 704, 'Old Lady Who Walked in the Sea, The (Vieille qui marchait dans la mer, La) (1991)': 1242, 'Escape from New York (1981)': 636, "Cats Don't Dance (1997)": 989, 'Geronimo: An American Legend (1993)': 1004, 'Mimic (1997)': 264, 'Vegas Vacation (1997)': 871, 'Romeo Is Bleeding (1993)': 583, 'Tom & Viv (1994)': 1148, 'Prophecy, The (1995)': 774, 'Clueless (1995)': 367, 'JLG/JLG - autoportrait de d\xe9cembre (1994)': 1366, 'Night of the Living Dead (1968)': 616, 'Damsel in Distress, A (1937)': 1458, 'Big Squeeze, The (1996)': 598, "Devil's Own, The (1997)": 245, 'Secret Adventures of Tom Thumb, The (1993)': 1555, 'Vanya on 42nd Street (1994)': 464, 'Cops and Robbersons (1994)': 1182, 'Gordy (1995)': 1408, 'Transformers: The Movie, The (1986)': 426, 'Mondo (1996)': 1389, 'Eat Drink Man Woman (1994)': 45, 'Cobb (1994)': 1112, '20,000 Leagues Under the Sea (1954)': 141, 'Young Guns (1988)': 232, 'Shadows (Cienie) (1988)': 1546, 'Postman, The (1997)': 898, 'Edge, The (1997)': 331, 'Three Caballeros, The (1945)': 624, 'Romper Stomper (1992)': 1597, 'Dangerous Ground (1997)': 981, 'Jackal, The (1997)': 689, 'Naked in New York (1994)': 1502, 'Renaissance Man (1994)': 944, 'Ninotchka (1939)': 836, 'Touch of Evil (1958)': 653, 'Madame Butterfly (1995)': 1459, "Smilla's Sense of Snow (1997)": 244, 'Bewegte Mann, Der (1994)': 1504, 'Hackers (1995)': 1139, 'Quest, The (1996)': 1034, 'Larger Than Life (1996)': 1337, 'French Twist (Gazon maudit) (1995)': 16, 'Casablanca (1942)': 483, 'Sweet Nothing (1995)': 1677, 'Run of the Country, The (1995)': 1261, 'Savage Nights (Nuits fauves, Les) (1992)': 1196, 'Time Tracers (1995)': 897, 'Hudsucker Proxy, The (1994)': 81, 'Low Down Dirty Shame, A (1994)': 1181, 'Amistad (1997)': 750, 'Event Horizon (1997)': 260, 'Month by the Lake, A (1995)': 964, 'Carrington (1995)': 714, 'Nixon (1995)': 458, 'Coneheads (1993)': 577, 'Road to Wellville, The (1994)': 1140, 'Fargo (1996)': 100, 'Mr. Magoo (1997)': 901, 'In the Company of Men (1997)': 262, 'Far From Home: The Adventures of Yellow Dog (1995)': 1531, 'Line King: Al Hirschfeld, The (1996)': 1497, 'My Left Foot (1989)': 509, 'Henry V (1989)': 190, "Devil's Advocate, The (1997)": 307, 'Yankee Zulu (1994)': 1557, 'Firestorm (1998)': 1105, 'Gang Related (1997)': 1280, 'Kids in the Hall: Brain Candy (1996)': 108, 'Ballad of Narayama, The (Narayama Bushiko) (1958)': 1347, 'American President, The (1995)': 692, 'Peacemaker, The (1997)': 879, '

In [43]:
#Task t2b: Write a function that takes two inputs: 
#  movie_id: id of the movie and common_users: a set of user ids
# and returns the list of rows corresponding to their movie ratings 

def get_movie_reviews(movie_id, common_users):
    #Get a boolean vector for themovielens_dfns_dfs provided by users in common_users for movie movie_id
    # Hint: use the isin operator of Pandas
    mask = (movielens_df['UserId'].isin(common_users)) & (movielens_df['MovieId'] == movie_id)
    
    
    #Create a subset of data where the mask is True i.e. only collect data from users who satisfy the condition above
    # Then sort them based on userid
    movie_ratings = movielens_df[mask].sort('UserId')
    #print movie_ratings
    
    #Do not change below
    #Return the unique set of ratings provided
    movie_ratings = movie_ratings[movie_ratings['UserId'].duplicated()==False]
    return movie_ratings


get_movie_reviews(1, set(range(1, 10)))

0         True
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
99970    False
99971    False
99972    False
99973    False
99974    False
99975    False
99976    False
99977    False
99978    False
99979    False
99980    False
99981    False
99982    False
99983    False
99984    False
99985    False
99986    False
99987    False
99988    False
99989    False
99990    False
99991    False
99992    False
99993    False
99994    False
99995    False
99996    False
99997    False
99998    False
99999    False
Name: MovieId, dtype: bool

,MovieId,Title,UserId,Rating,Age,Gender,Occupation,ZipCode
20103,1,Toy Story (1995),1,5,24,M,technician,85711
15002,1,Toy Story (1995),2,4,53,F,other,94043
820,1,Toy Story (1995),5,4,33,F,other,15213
35865,1,Toy Story (1995),6,4,42,M,executive,98101

In [ ]:
#Do not change below

#Here are some sample test cases for evaluating t2b
print "get_movie_reviews(1, set([1]))"
display( get_movie_reviews(1, set([1])) )

print "get_movie_reviews(1, set(range(1, 10)))"
display( get_movie_reviews(1, set(range(1, 10))) )

print "get_movie_reviews(100, set(range(1, 10)))"
display( get_movie_reviews(100, set(range(1, 10))) )

print "get_movie_reviews(784, set(range(1, 784)))"
display( get_movie_reviews(784, set(range(1, 784)))

In [55]:
#Task t2c: Let us now calculate the similarity between two movies
# based on the set of users who rated both movies
#Using euclidean distance is a bad idea - but simplifies the code

def calculate_similarity(movie_name_1, movie_name_2, min_common_users=0):
    
    movie1 = movie_name_to_id_dictionary[movie_name_1]
    movie2 = movie_name_to_id_dictionary[movie_name_2]
    
    #This is the set of UNIQUE user ids  who reviewed  movie1
    users_who_rated_movie1 = movielens_df[movielens_df['MovieId'] == movie1]['UserId'].unique()
    
    #This is the set of UNIQUE user ids  who reviewed  movie2
    users_who_rated_movie2 = movielens_df[movielens_df['MovieId'] == movie2]['UserId'].unique()
    
    #Compute the common users who rated both movies: 
    # hint convert both to set and do the intersection
    common_users = set(users_who_rated_movie1).intersection(users_who_rated_movie2)
    
    #Using the code you wrote in t2a, get the reviews for the movies and common users
    movie1_reviews = get_movie_reviews(movie1, common_users)
    movie2_reviews = get_movie_reviews(movie2, common_users)
    
    #Now you have the data frame for both movies
    # Use the euclidean_distances function from sklean (imported already)
    # to compute the distance between their rating values
    distance = euclidean_distances(movie1_reviews['Rating'], movie2_reviews['Rating'])

    if len(common_users) < min_common_users:
        return [[float('inf')]]
    return distance

In [54]:
#Do not change below
print calculate_similarity("Toy Story (1995)", "GoldenEye (1995)")
print calculate_similarity("GoldenEye (1995)", "Tomorrow Never Dies (1997)")
print calculate_similarity("Batman Forever (1995)", "Batman & Robin (1997)")

[308 287 148 280  66   5 109 181  95 268 189 145 158  67 232 150 289 117
  49 223  56  17 340 177 194 250 213 350 348 131 106 234  43  20 246  94
 279  38 128  96 203 157 311 125 286  83 301 345  18 322  64  45 247 204
 271  41 274 222  15  23 141 359 374 380  10 320 160 396 339 199 422  81
  42 357  26 327 200  44 256 174  97 243 101 490 242 312 325 456 347 360
 450  84 198 494 525   2  62 343 298 459 407 471 535 500 512 275 252 230
 249  93 514 193 484  54  75 338  13 472 541 209 144 417 454 313 202 579
 447 137 508   1 569 416 291 401 479 567 561 390 162 332 363 455 394 120
 297 540 231 560 379  59  99 254 533 441 292 262 483  16 592 526 307 344
 649 299 324 545 517  82 658 460 622 429  73 326 330 532 470 620 263 184
 577 248 699 534 505 425 691 406 432 657 305 487  77 235 151 642 708 244
 735 523 749 705 636 276 635 478 381  92 467 716 763 465 613 588 676 643
 562 178 677 253 697 614 798 777 637 371 290 770 618 684  89 706   6  63
 674 648  65 497 731 378 655 395 835 768 402 435 134 817 761 634 807 554
 790 503 486 632 804 650 831 654 493 365 710 612 610 468 296 723 168 130
 488 621 868 678 663 424 597 669 885 756 788  79 727 879 897 796 887 746
 602 771 580 794 759 411 872 821 624 388 744  25 438 883 921 216 138 295
 789 886 303 336 893 550 792 823 773 896 864 715 913 458 742 830 733 518
 293 463 630 929 714 679 924 210 660 698 764 805 665  58 251 549 751 785
 609 903 703  72 826 314 916 933 387 108 389 553 182 919 403 661 815 854
 331 890 124 882 779 542 852 605 399 294 870 277 690 537 838 412 653 847
 201 606 881 769 664 918 576 680 536 889  57 393 521 745 726 867  70 419
 922 894 599 910 829 738 901 795 843 102 757 930 899 730 121 548 936 457
 793 767 806 934 822 689 935 839 495 582 892 701 721 880 927 434 865 552
 923 692 917  21 902 748 938 932 941 907 265 709 445 398 682 895 747 786
 800 593]

TypeError: object of type 'NoneType' has no len()

In [ ]:


#Task t2d: Given a movie, find the top-k most similar movies
# that have the lowest euclidean distance 

#Here is the high level logic:
#  for each movie in all_movie_names (Except the input movie name)
#    compute its similarity and store it in an array
#   return the k movies with the smallest distances
# remember to pass min_common_users to calculate_similarity
def get_top_k_similar_movies(input_movie_name, k=5, min_common_users=0):
    movie_similarity = [] 
    for movie_name in all_movie_names:
        if input_movie_name == movie_name:
            continue
        similarity = calculate_similarity(input_movie_name, movie_name, min_common_users)
        similarity = similarity[0][0]
        movie_similarity.append( (similarity, movie_name) )
    return sorted(movie_similarity)[:k]

In [ ]:
#print get_top_k_similar_movies("Toy Story (1995)", 10)
print "\nMovies similar to GoldenEye [25]", get_top_k_similar_movies("GoldenEye (1995)", 10, 25)
print "\nMovies similar to GoldenEye [50]", get_top_k_similar_movies("GoldenEye (1995)", 10, 50)
print "\nMovies similar to GoldenEye [100]", get_top_k_similar_movies("GoldenEye (1995)", 10, 100)
print "\n\n"

print "\nMovies similar to Usual Suspects [25]", get_top_k_similar_movies("Usual Suspects, The (1995)", 10, 25)
print "\nMovies similar to Usual Suspects [50]", get_top_k_similar_movies("Usual Suspects, The (1995)", 10, 50)
print "\nMovies similar to Usual Suspects [100]", get_top_k_similar_movies("Usual Suspects, The (1995)", 10, 100)
print "\n\n"

print "\nMovies similar to Batman Forever [25]", get_top_k_similar_movies("Batman Forever (1995)", 10, 25)
print "\nMovies similar to Batman Forever [50]", get_top_k_similar_movies("Batman Forever (1995)", 10, 50)
print "\nMovies similar to Batman Forever [100]", get_top_k_similar_movies("Batman Forever (1995)", 10, 100)
print "\n\n"

print "\nMovies similar to Shawshank Redemption [25]", get_top_k_similar_movies("Shawshank Redemption, The (1994)", 10, 25)
print "\nMovies similar to Shawshank Redemption [50]", get_top_k_similar_movies("Shawshank Redemption, The (1994)", 10, 50)
print "\nMovies similar to Shawshank Redemption [100]", get_top_k_similar_movies("Shawshank Redemption, The (1994)", 10, 100)
print "\n\n"

In [ ]:
#Item based Collabrative Filtering
#Do not change below
# By default euclidean distance can be give arbitrary values
# Let us "normalize" it by limit its value between 0 and 1 and slightly change the interpretation
# 0 means that the preferences are very different
# 1 means that preferences are identical
# For tasks 3 and 4, remember to use this function

#Vec1 and vec2 are vectors
def euclidean_distance_normed(vec1, vec2):
    if len(vec1) == 0:
        return 0.0
    euc_distance = euclidean_distances(vec1, vec2)[0][0]
    return 1.0 / (1.0 + euc_distance)

In [ ]:
#Task t3a:
# In this task, you want to compute the similarity between two items
#  which in this case means ratings_df
# You can use code from 2c except that you must now call euclidean_distance_normed
#  when computing the distance

def calculate_similarity_normed(movie_name_1, movie_name_2, min_common_users=0):
    movie1 = movie_name_to_id_dictionary[movie_name_1]
    movie2 = movie_name_to_id_dictionary[movie_name_2]

    #This is the set of UNIQUE user ids  who reviewed  movie1
    users_who_rated_movie1 = movielens_df[movielens_df['MovieId'] == movie1]['UserId'].unique()
    
    #This is the set of UNIQUE user ids  who reviewed  movie2
    users_who_rated_movie2 = movielens_df[movielens_df['MovieId'] == movie2]['UserId'].unique()
     
    #Compute the common users who rated both movies: 
    # hint convert both to set and do the intersection
    common_users = set(users_who_rated_movie1).intersection(users_who_rated_movie2)

    #Using the code you wrote in t2a, get the reviews for the movies and common users
    movie1_reviews = get_movie_reviews(movie1, common_users)
    movie2_reviews = get_movie_reviews(movie2, common_users)
    
    #Do not change below
    
    #Now you have the data frame for both movies
    # Use the euclidean_distances function from sklean (imported already)
    # to compute the distance between their rating values
    distance = euclidean_distance_normed(movie1_reviews['Rating'].values, movie2_reviews['Rating'].values)

    if len(common_users) < min_common_users:
        return 0.0
    return distance

In [ ]:
#Do not change below
print calculate_similarity_normed("Toy Story (1995)", "GoldenEye (1995)")
print calculate_similarity_normed("GoldenEye (1995)", "Tomorrow Never Dies (1997)")
print calculate_similarity_normed("Batman Forever (1995)", "Batman & Robin (1997)")

In [ ]:
#Do not change below

#We are now going to create item-item similarity database
# Since our data is "small", we will use a non-traditional approach of using nested hashes
# In real-life, using something like databases or other data structures is far more preferable

#Here is the high level structure
#{
#    movie_name_1:  
#    { 
#        movie_name_2: similarity_between_movie_1_and_2, 
#        movie_name_3: similarity_between_movie_1_and_3, 
#        ....
#        movie_name_n: similarity_between_movie_1_and_n
#    },
#    movie_name_2:
#    {
#        movie_name_1: similarity_between_movie_2_and_1, 
#        movie_name_3: similarity_between_movie_2_and_3, 
#        ....
#        movie_name_n: similarity_between_movie_2_and_n
#    },
#    ....
#    movie_name_n:
#    {
#        movie_name_1: similarity_between_movie_n_and_1, 
#        movie_name_2: similarity_between_movie_n_and_2, 
#        ....
#        movie_name_n-1: similarity_between_movie_n_and_n-1
#    },
#}    
    

#Here is how to use this data structuere:

#To get similarity between movies
#   data[movie1][movie2]
#To get similarity between one movie and all others
#   data[movie1]

In [ ]:
#DO not change below
#This hash stores the movie to movie 
# as described above
movie_similarity_hash = defaultdict(dict)

In [2]:


#Item based filtering is expensive as you need to compute similarity of all pairs of items
# for this dataset it is 1682*1682 ~ 28 lakh pairs or 2.8 million
# running all of them might take hours and close to a day
# instead let us run on a smaller dataset
# specifically, let us only focus on the top-250 movies based on ratings
# which is more manageable


#Task t3b: 
# Get the top-k movie names with most ratings
#Hint: use Counter class

def top_k_movie_names(k):
    movie_ratings_counter = Counter()
    
    with open("ml-100k/u.data","r") as f:
        for line in f:
            user_id, movie_id, rating, timestamp = line.split("\t")
            movie_name = all_movie_names[ int(movie_id) - 1]
            movie_ratings_counter[movie_name] += 1
    
    return movie_ratings_counter.most_common(k)

#Do not change below
print "Top-10", top_k_movie_names(10), "\n"
print "Top-25", top_k_movie_names(25), "\n"

Top-10

NameError: global name 'Counter' is not defined

In [1]:
#Do not change below
top_250_movie_names = [item[0] for item in top_k_movie_names(250)]

NameError: name 'top_k_movie_names' is not defined

In [ ]:
#Task t3c:
#Use the following logic
#  for each movie in movie_names:
#    for all other movies in movie_names:
#      compute similarity between  two movies using calculate_similarity_normed
#      remember to pass min_common_users to that function
#  note that movie_similarity_hash is a defaultdict 
#  so similarity between movie1 and movie2 can be set as movie_similarity_hash[movie1][movie2]
#  btw, similarity in our case is commutative. 
#   i.e. similarity(movie1, movie2) = similarity(movie2, movie1)
#   so do not call the function twice !
# movie_names is an array that lists the movies for which you have to compute pairwise similarity
def compute_movie_to_movie_similarity(movie_names, min_common_users=0):
    for movie_name_1 in movie_names:
        for movie_name_2 in movie_names:
            if movie_name_1 == movie_name_2:
                continue
            similarity = calculate_similarity_normed(movie_name_1, movie_name_2, min_common_users)
            movie_similarity_hash[movie_name_1][movie_name_2] = similarity
            movie_similarity_hash[movie_name_2][movie_name_1] = similarit

In [ ]:
#Do not change below

#Let us first test if your code above is correct by testing against a small subset of data
movie_similarity_hash = defaultdict(dict)
# let use the top-10 movies
compute_movie_to_movie_similarity(top_250_movie_names[:10], min_common_users=0)

#Get similarity with 
display(movie_similarity_hash["Toy Story (1995)"])
display(movie_similarity_hash['Return of the Jedi (1983)'])

print movie_similarity_hash["Toy Story (1995)"]["Independence Day (ID4) (1996)"]

In [ ]:
#Do not change below
#Let us now test against top-250 most popular movies
#This might take 10-20 mins to run!
movie_similarity_hash = defaultdict(dict)
compute_movie_to_movie_similarity(top_250_movie_names, min_common_users=25)

In [ ]:
#Do not change below
#Do this if you want to persist the data 

# Let us persist the movie-movie similarity data structure 
# that way you dont need to re-run the whole thing
#pickle is a serialization library in Python
# To persist/serialize, use the following line
#pickle.dump(movie_similarity_hash, open("movie_similarity.pickle", "wb"))
# To deserialize, uncomment the following line 
#movie_similarity_hash = pickle.load( open( "movie_similarity.pickle", "rb" ) )

In [ ]:
for movie_name in top_250_movie_names[:10]:
    print "Top-10 most similar movies for ", movie_name, " :", 
    print sorted(movie_similarity_hash[movie_name].items(), key=operator.itemgetter(1), reverse=True)[:10]
    print "\n"

NameError: global name 'all_movie_names' is not defined

In [ ]:
#Task t3d

#Before doing t3d, please complete t4a so that user_rating_hash is available
# this will make the code below easier

#In this task, we are going to predict the rating of a user u for a movie m using item based collaborative filtering
#Here is the high level logic:
# for each item i rated by this user:
#    s = similarity between i and input movie m 
#    if similarity between i and m is 0, ignore this item 
#    compute weighted rating for m based on i as rating for i * s
# compute the predicted rating as sum of all weighted ratings / sum of all similarities

def predict_rating_for_movie_icf(movie_similarity_hash, input_user_id, input_movie_name, movies_considered):
    total_weighted_rating = 0.0
    total_similarity= 0.0
        
    #Hint: movie_similarity_hash is a nested hash where user id is key and 
    #  all their rating as a dictionary  
    # this dictionary is ordered as moviename: rating

    #if this user has already rated the movie, return that rating
    if input_movie_name in user_rating_hash[input_user_id]:
        return user_rating_hash[input_user_id][input_movie_name]
    
    #For each movie the user has rated
    for movie_name in user_rating_hash[input_user_id].keys():

        #if user rated some movie, but it is not in the subset of movies that we computed pairwise similarity
        # such as top-250, then do not consider it either
        # for this task, the input is in movies_considered 
        if movie_name not in movies_considered:
            continue
        
        #compute similarity between movies
        #dont recompute = use the hash
        similarity = movie_similarity_hash[input_movie_name][movie_name]
        
        #Reject item if similarity is 0
        if similarity <= 0.0:
            continue
                     
        #Compute weighted rating
        weighted_rating = similarity * user_rating_hash[input_user_id][movie_name]
        
        #update total_weighted_rating and total_similarity
        total_weighted_rating += weighted_rating
        total_similarity += similarity
            
    #Do not change below
    if total_similarity == 0.0:
        return 0.0
    
    return total_weighted_rating / total_similarity

In [ ]:
#Task t3e: 
#Here is the pseudocode for recommending movies
# for each movie this user has not rated in movies_considered:
#           predict rating for this movie and this user using t4d
#  return the top-k movies
def recommend_movies_icf(input_user_id, movies_considered, movie_similarity_hash,
                             user_rating_hash, k=10, min_common_movies=5):
    predicted_ratings = []
    
    #Your code here
    for movie_name in movies_considered:
        if movie_name in user_rating_hash[input_user_id]:
            continue
        
        #Predict the rating for input_user_id and movie_name using t3d
        predicted_rating = predict_rating_for_movie_icf(movie_similarity_hash, 
                                        input_user_id, movie_name, movies_considered)
        #append rating and movie name to predicted_ratings
        predicted_ratings.append( (predicted_rating, movie_name) )
    
    return sorted(predicted_ratings, reverse=True)[:k]

In [ ]:
#Do not change below:

#Let us predict top-5 movies for first 10 users
for user_id in range(1,11):
    print user_id, recommend_movies_icf(user_id, top_250_movie_names, movie_similarity_hash, 
                               user_rating_hash, k=10, min_common_movies=5)

In [ ]:
# User based Collabrative Filtering



#Task t4a
#Create the data structure as discussed above
# here is the logic:
# for each line in file ml-100k/u.data:
#   set user_rating_hash[user][movie] = rating
# read the instructions above again!

def compute_user_rating_hash():
    user_rating_hash = defaultdict(dict)
    
    #Your code below
    with open("ml-100k/u.data","r") as f:
        for line in f:
            user_id, movie_id, rating, timestamp = line.split("\t")
            user_rating_hash[int(user_id)][all_movie_names[int(movie_id)-1]] = int(rating)    
    
    return user_rating_hash

In [ ]:
#Do not change below
user_rating_hash = compute_user_rating_hash()

In [ ]:
#Do not change below
#How many users are there?
print len(user_rating_hash.keys())
#How many movies did each of the first 20 users rated?
print [len(user_rating_hash[i].keys()) for i in range(1,20+1)] 
#print the ratings of user 4
display(user_rating_hash[4])

In [ ]:
#Task t4b:
#We need to modify our logic for computing distance
#Here is the high level pseudocode:
# movie1 = movie names rated by user 1
# movie2 = movie names rated by user 2
# common movies = set intersection of movie1 and movie2
# if number of common movies is less than min_common_movies, return 0.0 [not 0]
# other wise create a vector with rating for common movies only
# compute euclidean distance between the vectors
# return 1 / (1+euclidean distace)

def compute_user_user_similarity(user_rating_hash, user_id_1, user_id_2, min_common_movies=0):
    #Get list of movie names rated by user 1. hint use keys function [see above for usage]
    movies_rated_user1 = user_rating_hash[user_id_1].keys()
    movies_rated_user2 = user_rating_hash[user_id_2].keys()
    
    #compute common movies
    common_movies = set(movies_rated_user1).intersection( set(movies_rated_user2) )
    if len(common_movies) < min_common_movies:
        return 0.0
    
    common_movies = sorted(list(common_movies))
    
    #vector1 is the set of ratings for user1 for movies in common_movies
    vector1 = [user_rating_hash[user_id_1][movie] for movie in common_movies]
    #vector2 is the set of ratings for user2 for movies in common_movies
    vector2 = [user_rating_hash[user_id_2][movie] for movie in common_movies]
    
    #Compute distance and return 1.0/(1.0+distance)
    distance = euclidean_distances(vector1, vector2)[0][0]
    return 1.0 / ( 1.0 + distance)

In [ ]:
#Testing code
print [round(compute_user_user_similarity(user_rating_hash, 1, i),2) for i in range(1, 10+1)]
print [round(compute_user_user_similarity(user_rating_hash, 784, i),2) for i in range(1, 10+1)]

In [ ]:
#Task t4c
#This function finds the k-most similar users 
#Here is the high level logic:
#  for each user in all_user_ids other than the input user id:
#     find similarity between this user and input_user_id and store as (similarity, other userid)
#     sort based on similarity
#  return top-k
# remember to pass min_common_movies
def top_k_most_similar_users(user_rating_hash, input_user_id, all_user_ids, k=10, min_common_movies=0):
    user_similarity = []
    
    for user_id in all_user_ids:
        if user_id == input_user_id:
            continue
        similarity = compute_user_user_similarity(user_rating_hash, input_user_id, user_id, min_common_movies)
        user_similarity.append( ( similarity, user_id) )
    return sorted(user_similarity, reverse=True)[:k]

In [ ]:
#Do not change below
all_user_ids = range(1, 943+1)
print top_k_most_similar_users(user_rating_hash, 1, all_user_ids, 10, 5)
print top_k_most_similar_users(user_rating_hash, 1, all_user_ids, 10, 10)
print top_k_most_similar_users(user_rating_hash, 812, all_user_ids, 10, 5)
print top_k_most_similar_users(user_rating_hash, 812, all_user_ids, 10, 20)

In [ ]:
#Task t4d
#In this task, we are going to predict the rating of a user for a movie using user based collaborative filtering
#Here is the high level logic:
# for each user u in all_user_ids:
#    s= similarity between u and input_user_id [remember to pass min_common_movies]
#    if similairty is 0.0 ignore u
#    if u has not rated this movie, ignore again
#    suppose u has rated this movie with a value of r
#    i am now going to give a "weighted rating" as r*s
# compute the predicted rating as sum of all weighted ratings / sum of all similarities

def predict_rating_for_movie_ucf(user_rating_hash, input_user_id, movie_name, all_user_ids, min_common_movies=5):
    total_weighted_rating = 0.0
    total_similarity= 0.0
    
    for user_id in all_user_ids:
        if user_id == input_user_id:
            continue
        
        #compute similarity between users
        similarity = compute_user_user_similarity(user_rating_hash, user_id, input_user_id, min_common_movies)
        
        #Reject user if similarity is 0
        if similarity <= 0.0:
            continue
            
        #reject user if (s)he has not rated the movie
        if movie_name not in user_rating_hash[user_id]:
            continue
            
        #Compute weighted rating
        weighted_rating = similarity * user_rating_hash[user_id][movie_name]
        
        #update total_weighted_rating and total_similarity
        total_weighted_rating += weighted_rating
        total_similarity += similarity
            
    #Do not change below
    if total_similarity == 0.0:
        return 0.0
    
    return total_weighted_rating / total_similarity

In [ ]:


#Do not change below
all_user_ids = range(1, 943+1)
for user_id in range(1, 5+1):
    print "user_id = ", user_id
    print [ round(predict_rating_for_movie_ucf(user_rating_hash, user_id, all_movie_names[i], all_user_ids, min_common_movies=5),1)
          for i in range(1, 10+1)]
    print [ round(predict_rating_for_movie_ucf(user_rating_hash, user_id, all_movie_names[i], all_user_ids, min_common_movies=10),1)
          for i in range(1, 10+1)]
    print "\n"

In [ ]:
#Task t4e: 
#Here is the pseudocode for recommending movies
# for each movie this user has not rated:
#     for all other users:
#           predict rating for this movie and this user using t4d
#  return the top-k movies
def recommend_movies_ucf(user_rating_hash, all_user_ids, input_user_id, k=10, min_common_movies=5):
    predicted_ratings = []
    
    #Your code here
    for movie_name in all_movie_names:
        if movie_name in user_rating_hash[input_user_id]:
            continue
        
        #Predict the rating for input_user_id and movie_name using t4d
        predicted_rating = predict_rating_for_movie_ucf(user_rating_hash, input_user_id, movie_name, 
                                                        all_user_ids, min_common_movies)
        #append rating and movie name to predicted_ratings
        predicted_ratings.append( (predicted_rating, movie_name) )
    
    return sorted(predicted_ratings, reverse=True)[:k

In [ ]:
#Do not change below
all_user_ids = range(1, 943+1)

for user_id in range(1, 5):
    print recommend_movies_ucf(user_rating_hash, all_user_ids, user_id, k=10, min_common_movies=5)